@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #292929;
    --main-body-color: #ffffff;
}

body {
    color: var(--main-color);
    background-color: var(--main-body-color);
}
main {
    position: relative;
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.flex-center {
    @apply flex justify-center items-center;
}
.flex-start {
    @apply flex justify-start items-start;
}
.flex-end {
    @apply flex justify-end items-center;
}
.flex-between {
    @apply flex justify-between items-center;
}
