@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --logo-color: #393a46;
    --main-text-color: #282a3b;
    --main-body-color: #ffffff;
}

body {
    color: var(--main-color);
    background-color: var(--main-body-color);
}
main {
    position: relative;
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.logo-color{
    color: var(--logo-color)
}

.blue-btn {
    @apply capitalize bg-[#1A5ADB] shadow-lg shadow-[#A6D0FF] px-3 py-1.5 text-sm text-white font-medium rounded-md transition-all duration-150;
}
.blue-btn:hover {
    @apply bg-[#1f4ba3] shadow-[#89aacf]
}

.flex-center {
    @apply flex justify-center items-center;
}
.flex-start {
    @apply flex justify-start items-start;
}
.flex-end {
    @apply flex justify-end items-center;
}
.flex-between {
    @apply flex justify-between items-center;
}
